<template>
  <div class="home">
    <Map />
    <h2>Tools:</h2>
    <div @click="showMap" v-scroll-to="'.map'" class="link">World Map</div>
    <h2>Lands:</h2>
    <ul>
      <li v-for="land in lands" :key="land.key">
        <h3
          @click="clickedLand(land.key)"
          :class="
            'link scrollto ' +
              land.key +
              (land.highlighted ? ' highlighted ' : '')
          "
        >
          {{ land.name }}
        </h3>
        <div v-if="land.showing">
          {{ land.description }}
          <div @click="toggleMap(land.key)" class="link">Toggle Map</div>
          <div v-if="mapOpen(land.key)" class="map-wrapper">
            <img
              @click="clickLandMap(land.key)"
              class="land-map"
              :src="require(`@/assets/${land.key}.png`)"
              :alt="'Map of ' + land.name"
            />
          </div>
        </div>
      </li>
    </ul>
    <h2>Characters:</h2>
    <ul>
      <li v-for="character in characters" :key="character.key">
        <h3 :class="'link ' + character.key">{{ character.name }}</h3>
        <div>
          {{ character.description }}
        </div>
      </li>
    </ul>
    <h2>Tools:</h2>
    <div @click="showMap" v-scroll-to="'.map'" class="link">World Map</div>
  </div>
</template>

<script>
// in full builds helpers are exposed as Vuex.mapState
import { mapState } from "vuex";

export default {
  data() {
    return {
      openMaps: []
    };
  },
  computed: mapState([
    // map this.lands to store.state.lands
    "lands",
    "characters"
  ]),
  methods: {
    showMap() {
      this.$store.dispatch("showMap");
    },
    clickedLand(landKey) {
      this.$store.dispatch("toggleLandShowing", landKey);
    },
    clickLandMap(landKey) {
      window.open(require(`@/assets/${landKey}.png`));
    },
    toggleMap(landKey) {
      let index = this.openMaps.indexOf(landKey);
      if (index >= 0) {
        this.openMaps.splice(index, 1);
      } else {
        this.openMaps.push(landKey);
      }
    },
    mapOpen(landKey) {
      return this.openMaps.indexOf(landKey) >= 0;
    }
  }
};
</script>

<style lang="scss">
$map-width: 810px;

.home {
  align-self: flex-start;
  max-width: $map-width;
}

.link {
  text-decoration: underline;
  cursor: pointer;
  color: #611f00;
  margin: 0 auto;
  width: fit-content;
  margin-top: 1em;
  padding: 0.25em 0.5em;
  border-radius: 5px;
}
.link.highlighted {
  color: #822900;
  background-color: #ffffff;
}
.link:hover {
  color: #80472d;
}

.home h2 {
  margin-top: 1em;
  font-size: 1.5em;
}
.home li {
  margin-top: 0.5em;
}

.land-map {
  max-width: $map-width;
  cursor: pointer;
}

// Mobile Friendly
@media (max-width: $map-width) {
  .land-map {
    max-width: 100vw;
  }
  .land-map img {
    max-width: 100vw;
  }
}
</style>
