<template>
  <div v-if="$store.state.map.showing" class="map-wrapper">
    <div class="map">
      <img src="@/assets/nala_map.png" alt="Map of Nala" />
      <div v-for="land in lands" :key="land.key" :class="'land ' + land.key">
        <div
          v-if="land.active"
          v-scroll-to="'.scrollto.' + land.key"
          @click="clickLand(land.key)"
          @mouseover="mouseOverLand(land.key)"
          @mouseout="mouseOutLand(land.key)"
          class="hotspot"
        ></div>
        <div v-if="land.hovering" class="popup-text">{{ land.name }}</div>
      </div>
    </div>
    <div @click="hideMap" class="link">Hide Map</div>
  </div>
</template>

<script>
// in full builds helpers are exposed as Vuex.mapState
import { mapState } from "vuex";

export default {
  computed: mapState([
    // map this.lands to store.state.lands
    "lands"
  ]),
  methods: {
    hideMap() {
      this.$store.dispatch("hideMap");
    },
    clickLand(landKey) {
      this.$store.dispatch("clickLandOnMap", landKey);
    },
    mouseOverLand(landKey) {
      this.$store.dispatch("toggleLandHover", landKey);
    },
    mouseOutLand(landKey) {
      this.$store.dispatch("toggleLandHover", landKey);
    }
  }
};
</script>

<style lang="scss" scoped>
$background-color: #dafcf2;
$map-width: 810px;

// Map image
.map {
  position: relative;
  max-width: $map-width;
  margin: 0 auto;
}
.map img {
  max-width: $map-width;
}

// Land hotspot overlays
.land {
  position: absolute;
}
.land .hotspot {
  background-color: rgba(223, 58, 58, 0.596); // Hotspot helper
  width: 25px;
  height: 25px;
}
.land .popup-text {
  background-color: $background-color;
  padding: 0.25em 0.5em;
  border-radius: 5px;
}

// Mobile Friendly
@media (max-width: $map-width) {
  .map {
    max-width: 100vw;
  }
  .map img {
    max-width: 100vw;
  }

  .land .hotspot {
    width: 4.7vw !important;
    height: 4.7vw !important;
  }
}

// Land Positioning
.loslantis {
  top: 37.8%;
  left: 69.3%;
}

// Old Neopet lands
.altador {
  top: 48.8%;
  left: 34.6%;
}
.brightvale {
  top: 38%;
  left: 63%;
}
.kiko-lake {
  top: 29%;
  left: 53.4%;
}
.roo-island {
  top: 21%;
  left: 61%;
}
.haunted-woods {
  top: 43%;
  left: 47%;
}
.terror-mountain {
  top: 5%;
  left: 47%;
}
.lost-desert {
  top: 59%;
  left: 51.3%;
}
.shenkuu {
  top: 22.1%;
  left: 34.6%;
}
.moltara {
  top: 39%;
  left: 13.4%;
}
.kreludor {
  top: 8%;
  left: 11.8%;
}
.faerieland {
  top: 45%;
  left: 58.6%;
}
.maraqua {
  top: 24.8%;
  left: 82.1%;
}
.virtupets-space-station {
  top: 10.3%;
  left: 84%;
}
.mystery-island {
  top: 54%;
  left: 81.7%;
}
.krawk-island {
  top: 68%;
  left: 74%;
}
.tyrannia {
  top: 10%;
  left: 68%;
}
.meridell {
  top: 31%;
  left: 67.1%;
}
.darigan-citadel {
  top: 23%;
  left: 70.5%;
}
.neopia-central {
  top: 20%;
  left: 56%;
}
.lutari-island {
  top: 62%;
  left: 19%;
}
.jelly-world {
  top: 77%;
  left: 11%;
}
.jelly-world .hotspot {
  width: 20px;
  height: 20px;
}
</style>
